---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Human Learning Machine Learning</h1>

<p>Data is the new oil, and a lot of information and code is free. This site is aimed at tying a lot of the resources together into a learning journey.</p>

<p>This site will grow overtime as my collection of notes on data science and machine learning. I am spending the next 6 months going over all the fundamentals with Python to ensure I have the depth of knowledge to tackle a variety of large scale machine learning problems using the industry best practice. Starting from the beginning and building on that knowledge as I go, each post will document what I have learnt and hopefully someone else will be able to follow it in future to speed up their learning.</p>

<h2>Overview and Learning Plan</h2>

<ul>
  <li>Advanced Python: generators, lambdas, type hints and other topics</li>
  <li><a href="/posts/anaconda-python-distribution-for-machine-learning/">Anaconda Python distribution</a>: learn the benefits of the popular Python distribution specialising in machine learning</li>
  <li>Jupyter notebook: able to manipulate and visualise data in real time using Python</li>
  <li>Numpy: creating series, dataframes, and being fluent in performing quick statistical analysis of data sets</li>
  <li>Pandas: working with CSV, JSON, text and HTML data</li>
  <li>Importing data</li>
  <li>Manipulating data</li>
  <li>Visualisation with Matplotlib and Seaborn to easily spot patterns</li>
  <li>Machine learning with `scikit-learn`</li>
  <li>SQLalchemy - working with SQL in Python</li>
  <li>Spark - can we find a huge data set?</li>
  <li>Statistics fundamentals using SciPy</li>
  <li>Kaggles workouts</li>
  <li>Sparse matrix representation - the vom chain model</li>
  <li>Your first models - <a href="https://www.kaggle.com/alexisbcook/titanic-tutorial">the Kaggle's Titanic problem</a></li>
</ul>

<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
