---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>A currated collection of content learning machine learning</h1>

<p>Data is the new oil, and a lot of information and code is free. This site is aimed at tying a lot of the resources together into a learning journey.</p>

<p>The key concepts:</p>

<ul>
  <li>Complete basics of machine learning</li>
  <li>Loading data files (CSVs) in python</li>
  <li>Manipulating CSVs in python</li>
  <li>Your first models - <a href="https://www.kaggle.com/alexisbcook/titanic-tutorial">the Kaggle's Titanic problem</a></li>
</ul>


<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
