---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Human Learning Machine Learning</h1>

<p>Fun and useful guides to help you get started with machine learning. If you want to understand how machine learning models and the underlying algorithms, these guides will help you and give you a solid understanding of the numerical techniques and the libraries used to implement them at the top tech companies.</p>

<p>If you want to suggest some more topics, <a href="https://www.linkedin.com/in/readikus">get in touch</a>.

<h2>Overview and Learning Plan</h2>

<h3>Data manipulation and visualisation with Python</h3>

<ul>
  <li>Advanced Python: generators, lambdas, type hints and other topics</li>
  <li><a href="/posts/anaconda-python-distribution-for-machine-learning/">Anaconda Python distribution</a>: learn the benefits of the popular Python distribution specialising in machine learning</li>
  <li><a href="/posts/jupyter-notebooks-for-machine-learning-101/">Jupyter notebook</a>: able to manipulate and visualise data in real time using Python</li>
  <li><a href="/posts/numpy/">Numpy 101</a>: creating series, dataframes, and being fluent in performing quick statistical analysis of data sets</li>
  <li>Pandas: working with CSV, JSON, text and HTML data</li>
  <li>Importing data</li>
  <li>Manipulating data</li>
  <li>Visualisation with Matplotlib and Seaborn to easily spot patterns</li>
  <li>Machine learning with scikit-learn</li>
  <li>SQLalchemy: working with SQL in Python</li>
  <li>Statistics fundamentals using SciPy</li>
  <li>Kaggles workouts</li>
  <li>Sparse matrix representation - the variable order Markov chain implementation</li>
  <li>Your first models - <a href="https://www.kaggle.com/alexisbcook/titanic-tutorial">the Kaggle's Titanic problem</a></li>
</ul>


<h3>Machine Learning Models</h3>

<ul>
  <li>Linear regression with one variable</li>
  <li>Linear regression with multiple variables</li>
  <li>Classification and Regression Trees (CART)</li>
  <li>Random Forest</li>
</ul>

<h3>Machine Learning Models: Neural Networks</h3>

<ul>
  <li>Overview</li>
</ul>

<h3>Machine Learning at Scale</h3>

<ul>
  <li>Apache Kafka</li>
  <li>Spark: can we find a huge data set?</li>
</ul>

<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
